[submodule "assets/pdf/cv_resume"]
	path = assets/pdf/cv_resume
	url = https://github.com/jsstevenson/cv_resume
[submodule "assets/pdf/cv"]
	path = assets/pdf/cv
	url = https://github.com/jsstevenson/cv_resume
